<html lang="en">
    <head>
        <meta content="IE=edge" type="html/css" charset="utf-8">
        <title>Homepage</title>
        <meta name="description" content="its sth">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
<!--this is section 1-->
        <section class="one">
            <nav>
                <div class="logo">
                <img src="../Media/—Pngtree—logoelements_6224162.png" alt="logo">
                <p>Real Estate</p>
                </div>
                 <ul>
                     <li><a href="http://127.0.0.1:5000/division" target="blank">Divide</a></li>
                     <li><a href="#two">About</a></li>
                     <li><a href="http://127.0.0.1:5000/addition" target="blank">Add</a></li>
                     <li><a href="http://127.0.0.1:5000/subtraction" target="blank">Subtract</a></li>
                 </ul>
         </nav>
         <div class="abody">
             <div class="leftblock">
                <img src="../Media/pic.jpg" alt="Error">
             </div>
             <div class="rightblock">
                 <p>
                     The Building <br>You Never Need <br>To Leave
                 </p>
             </div>
         </div>
        </section>
<!--this is section 2-->
        <section class="two" id="two">
            <div class="block1">
                <p class="about">About us</p>
                <p class="quality">We build quality real estate<br> projects since 1998</p>
            </div>
            <img src="/Media/arch2.jpg" alt="hello">
            <div class="block2">
                <p>Presentations are communication tools that
                     can be used as demonstrations, lectures, speeches,
                     reports, and more. It is mostly presented before
                     an audience. </p>
                <img src="/Media/arch1.jpg" alt="error">
            </div>
        </section>
 <!--this is section 3-->
        <section class="three">
            <div class="beg">
                <p class="mission">Our Mission<p>
                <P>
                    Our goal then <br>and now is to <br>provide quality <br>projects
                </P>
            </div>
            <div class="beggar">
            </div>
            <img src="../Media/arch.jpg" alt="error">
        </section>
<!--this is section 4-->
        <section class="four">
            <div class="build">
                <p>What We Build</p>
                <p class="explore">Explore latest <BR>projects</p>
            </div>
            <div class="beggar2">
            </div>
            <div class="biggie">
                <div class="big1">
                    <img src="../Media/arch.jpg" alt="error">
                    <p> Giggling Platypus Co.<br> <br> 260,000 sqft</p>
                </div>
                <div class="big2">
                    <img src="../Media/arch.jpg" alt="error">
                    <p> Timmerman Industries<br> <br> 372,000 sqft</p>
                </div>
                <div class="big3">
                    <img src="../Media/arch.jpg" alt="error">
                    <p> Studio Shodwe<br> <br> 150,000 sqft</p>
                </div>
            </div>
        </section>
<!--this is section 5-->
<section class="five">
    <div class="smallie">
        <div class="hi1"></div>
        <div class="hi2">
            <p>
                100+
            </p>
            <p class="hi22">
                Project One <br>Complete
            </p>
        </div>
        <div class="hi3">
            <p>
                40+
            </p>
            <p class="hi33">
                Project Two <br>Complete
            </p>
        </div>
        <div class="hi4">
            <p>
                80+
            </p>
            <p class="hi44">
                Project Three <br>Complete
            </p>
        </div>
        <div class="hi5">
            <p>
                50+
            </p>
            <p class="hi55">
                Project Four <br>Complete
            </p>
        </div>
        <div class="hi6"></div>
    </div>
    <img src="../Media/hori.jpg" alt="error">
</section>
<!--this is section 6-->
<section class="six">
    <div class="leftblock">
        <p>Why Choose Us</p>
        <p class="para">Making <br>living <br>spaces <br>affordable </p>
    </div>
    <div class="rightblock">
        <div class="topblock">
            <div class="first">
                <img src="../Media/model.png" alt="error">
                <p>High quality <br>product</p>
            </div>
            <div class="second">
                <img src="../Media/model.png" alt="error">
                <p>Natural <br>Environment</p>
            </div>
            <div class="third">
                <img src="../Media/model.png" alt="error">
                <p>Professional <br>Services</p>
            </div>
        </div>
        <div class="bottomblock">
            <div class="fourth">
                <img src="../Media/model.png" alt="error">
                <p>Absolute <br>Security</p>
            </div>
            <div class="fifth">
                <img src="../Media/model.png" alt="error">
                <p>Humanitarian <br>Community</p>
            </div>
            <div class="sixth">
                <img src="../Media/model.png" alt="error">
                <p>Complete <br>Document</p>
            </div>
        </div>
    </div>
</section>
<!--this is section 7-->
<section class="seven">
    <div class="leftblock">
        <p>Join With Us</p>
        <p class="para">Expand career <br>and make <br>your move to <br>house</p>
    </div>
    <div class="midblock">
        <img src="../Media/arch1.jpg" alt="error">
        <div class="button">
            <p>Join now</p>
        </div>
    </div>
    <div class="rightblock">
        <p>Presentations are <br>communication <br>tools that can be <br>used as <br>demonstrations, <br>lectures, speeches, <br>
           reports, and more. <br>It is mostly <br>presented before <br>an audience. </p>
    </div>
</section>
<!--this is section 8-->
<section class="eight">
    <div class="topblock">
        <p>Our Portfolio</p>
        <p class="para">Our latest project</p>
    </div>
    <div class="bottomblock">
        <img class="first" src="../Media/arch.jpg" alt="error">
        <img class="second" src="../Media/arch.jpg" alt="error">
        <img class="third" src="../Media/arch.jpg" alt="error">
    </div>
</section>
<!--this is section 8-->
<section class="nine">
    <div class="topblock">
        <p>Our Client</p>
        <p class="para">Special Client</p>
    </div>
    <div class="bottomblock">
        <div class="bigbox">
            <div class="box1">
                <img src="../Media/arch.jpg" alt="error">
            </div>
            <div class="box2">
                <img src="../Media/arch.jpg" alt="error">
            </div>
            <div class="box3">
                <img src="../Media/arch.jpg" alt="error">
            </div>
            <div class="box4">
                <img src="../Media/arch.jpg" alt="error">
            </div>
            <div class="box5">
                <img src="../Media/arch.jpg" alt="error">
            </div>
        </div>
    </div>
</section>
</body>
</html>