<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
<!--this is section 1-->
<!---->
        <section>
            <nav>
                <div class="logo">
                <img src="../Media/—Pngtree—logo elements_6224162.png" alt="logo">
                <p>Real Estate</p>
                </div>
                 <ul>
                     <li><a href="http://127.0.0.1:5000/division" target="blank">Divide</a></li>
                     <li><a href="http://127.0.0.1:5000/multiplication" target="blank">Multiply</a></li>
                     <li><a href="http://127.0.0.1:5000/addition" target="blank">Add</a></li>
                     <li><a href="http://127.0.0.1:5000/subtraction" target="blank">Subtract</a></li>
                 </ul>
         </nav>
         <div class="abody">
             <div class="leftblock">
                <img src="../Media/pic.jpg" alt="Error">
             </div>
             <div class="rightblock">
                 <p>
                     The Building <br>You Never Need <br>To Leave
                 </p>
             </div>
         </div>
        </section>
<!--this is section 2-->
<!-- -->
<!---->
        <section class="two">
            <div class="block1">
                <p class="about">About us</p>
                <p class="quality">We build quality real estate<br> projects since 1998</p>
            </div>
            <img src="../Media/arch2.jpg" alt="hello">
            <div class="block2">
                <p>Presentations are communication tools that
                     can be used as demonstrations, lectures, speeches,
                     reports, and more. It is mostly presented before
                     an audience. </p>
                <img src="../Media/arch1.jpg" alt="error">
            </div>
        </section>
 <!--this is section 3-->
 <!---->
<!---->
        <section class="three">
            <div class="beg">
                <p class="mission">Our Mission<p>
                <P>
                    Our goal then <br>and now is to <br>provide quality <br>projects
                </P>
            </div>
            <div class="beggar">
            </div>
            <img src="../Media/arch.jpg" alt="error">
        </section>
<!--this is section 4-->
<!---->
<!---->
        <section class="four">
            <div class="build">
                dshiaehgg
            </div>
            <div class="biggie">
                <div class="big1">
                    <img src="../Media/arch.jpg" alt="error">
                    <p> jhsfiu<br> <br> dfhjdsgfb</p>
                </div>
                <div class="big2">
                    <img src="../Media/arch.jpg" alt="error">
                    <p> jhsfiu<br> <br> dfhjdsgfb</p>
                </div>
                <div class="big3">
                    <img src="../Media/arch.jpg" alt="error">
                    <p> jhsfiu<br> <br> dfhjdsgfb</p>
                </div>
            </div>
            <div class="beggar2">
            </div>
        </section>
    </body>
</html>