<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <section>
            <nav>
                <div class="logo">
                <img src="../Media/pexels-ruvim-3767673.jpg" alt="logo">
                </div>
                 <ul>
                     <li><a href="http://127.0.0.1:8000/division" target="blank">Divide</a></li>
                     <li><a href="http://127.0.0.1:8000/multiplication" target="blank">Multiply</a></li>
                     <li><a href="http://127.0.0.1:8000/addition" target="blank">Add</a></li>
                     <li><a href="http://127.0.0.1:8000/subtraction" target="blank">Subtract</a></li>
                 </ul>
         </nav>
         <div id="abody">
             <div class="leftblock">
                <img src="../Media/0073.png" alt="Error">
             </div>
             <div class="rightblock">
                 <p>
                     The Building You Will Never Need To Leave
                 </p>
             </div>
         </div>
        </section>
    </body>
</html>